/* Custom Prop */
:root{
  --bg-color: rgb(242, 206, 151);
  --author-card-bg: rgb(72, 73, 86);
  --text-color: #000;
}

/* GLOBAL STYLES */

html{
  box-sizing: border-box;
  height: 100%;
  scroll-behavior: smooth;
}

*,
*::before,
*::after{
  box-sizing: inherit;
}

body{
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 1.5;
  font-family: "Roboto", "Arial", sans-serif;
  background-color: var(--bg-color);
  color: var(--text-color);
}

img{
  max-width: 100%;
  height: auto;
}


/* CONTAINER*/
.container{
  width: 100%;
  max-width: 1200px;
  padding-left: 50px;
  padding-right: 50px;
  margin-left: auto;
  margin-right: auto;
}

/* MAIN CONTENT */
.main-content{
  flex-grow: 1;
}

.blog-section {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 1000px;
  margin: 100px auto;
  padding: 0;
  background-color: #fff;
  border-radius: 5px;

}
.blog-author-card {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 400px;
  height: 550px;
  padding: 60px 35px 40px 35px;
  background-color: var(--author-card-bg);
}
.blog-topic {
  display: block;
  padding: 0;
  margin: 0;
  color: #fff;
  font-weight: 700;
  padding-bottom: 10px;
}
.devider {
  padding: 0;
  margin: 0;
  text-align: left;
  width: 70px;
  height: 5px;
  background-color: rgb(227, 123  , 98);
  border: none;
}
.author-info {
  margin-top: auto;
  display: flex;
  align-items: center;


}
.author-img {
  display: inline-block;
  border-radius: 50%;
  margin-right: 10px;
}
.author_name {
  color: #fff;
}


/* RIGHT SIDE */
.auther-article-card {
  position: relative;
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  min-width: 600px;
  height: 550px;
  padding: 60px 35px 40px 35px;
  margin: 0;
}
.author-article-text {
  margin: 0;
  padding: 0;
  font-size: 18px;
}

.publishing-date-wrapper{
  position: absolute;
  bottom: 0;
  left: 35px;
  display: flex;
  padding: 35px 0;
  margin-top: auto;
}

.publishing-date{
  margin-right: 255px;
}

.article-publishing-date {

}

.publishing-img{
  display: flex;
  align-items: center;
  margin-left: auto;

}


.comment-img {

}
.comment-counter {
  margin-left: 10px;
}
.more-img {
  padding: 0;
  margin-left: 25px;
}